.git/*
env/
venv/
.venv
.venv/

__pycache__/
*.py[cod]

.idea
.DS_Store
.AppleDouble
.LSOverride

*.sublime-project
*.sublime-workspace

media/

.env
sent_emails/
docker-compose.yml

data.json
errors.log
*.db
*.doc
*.log

drivers/
cookies/

last_result.json

run.sh